
[V200R003C00]
#
 sysname R4
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load flash:/portalpage.zip
#
 drop illegal-mac alarm
#
ipv6 
#
 wlan ac-global carrier id other ac id 0
#
 set cpu-usage threshold 80 restore 75
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
ospfv3 1
 router-id 4.4.4.4
 import-route static
#
firewall zone Local
 priority 15
#
interface GigabitEthernet0/0/0
 ipv6 enable 
 ipv6 address 2002:6404:404:45::1/64 
 ospfv3 1 area 0.0.0.0
#
interface GigabitEthernet0/0/1
 ipv6 enable 
 ipv6 address 2002:6404:404:46::1/64 
 ospfv3 1 area 0.0.0.0
#
interface GigabitEthernet0/0/2
 ip address 100.1.34.2 255.255.255.252 
#
interface NULL0
#
interface LoopBack0
 ip address 4.4.4.4 255.255.255.255 
#
interface LoopBack1
 ip address 100.4.4.4 255.255.255.255 
#
interface LoopBack2
 ipv6 enable 
 ipv6 address 2002:6404:404:404::4/64 
#
interface Tunnel0/0/0
 ipv6 enable 
 ipv6 address 2002:6404:404:444::4/64 
 tunnel-protocol ipv6-ipv4
 source 100.1.34.2
 destination 100.1.12.1
#
ospf 1 router-id 4.4.4.4 
 area 0.0.0.2 
  authentication-mode md5 1 plain Huawei@ICT2020
  network 4.4.4.4 0.0.0.0 
  network 100.1.34.2 0.0.0.0 
  network 100.4.4.4 0.0.0.0 
#
ipv6 route-static 2002:6401:101:101::1 128 Tunnel0/0/0 
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return